body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-59px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:280px;
  width:750px;
  height:50px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-size:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:746px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:59px;
  top:280px;
  width:20px;
  height:51px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:51px;
}
#u3 {
  position:absolute;
  left:2px;
  top:18px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:59px;
  top:30px;
  width:1000px;
  height:150px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:150px;
}
#u6 {
  position:absolute;
  left:2px;
  top:67px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:59px;
  top:0px;
  width:1000px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:268px;
  top:3px;
  width:70px;
  height:30px;
  font-size:18px;
  color:#000000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:368px;
  top:3px;
  width:100px;
  height:30px;
  font-size:18px;
  color:#000000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:509px;
  top:3px;
  width:100px;
  height:30px;
  font-size:18px;
  color:#000000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:638px;
  top:3px;
  width:60px;
  height:30px;
  font-size:18px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:728px;
  top:3px;
  width:100px;
  height:30px;
  font-size:18px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:958px;
  top:3px;
  width:50px;
  height:30px;
  font-size:18px;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:108px;
  top:3px;
  width:70px;
  height:30px;
  font-size:18px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:59px;
  top:180px;
  width:1000px;
  height:70px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
}
#u24 {
  position:absolute;
  left:2px;
  top:27px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:59px;
  top:240px;
  width:1000px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:3px;
  width:1000px;
  height:4px;
}
#u26 {
  position:absolute;
  left:88px;
  top:195px;
  width:100px;
  height:50px;
  font-size:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:165px;
  top:195px;
  width:120px;
  height:50px;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:275px;
  top:195px;
  width:120px;
  height:50px;
  font-size:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:382px;
  top:195px;
  width:120px;
  height:50px;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:495px;
  top:195px;
  width:120px;
  height:50px;
  font-size:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u34_img.mouseOver {
}
#u34.mouseOver {
}
#u35 {
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:808px;
  top:231px;
  width:158px;
  height:132px;
  overflow:hidden;
  visibility:hidden;
}
#u36_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:132px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u36_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:132px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:132px;
}
#u38 {
  position:absolute;
  left:2px;
  top:58px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:2px;
  width:212px;
  height:128px;
}
.u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
  color:#009DDA;
}
.u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
}
.u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:132px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:132px;
}
#u43 {
  position:absolute;
  left:2px;
  top:58px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:808px;
  top:207px;
  width:158px;
  height:27px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:14px;
  color:#000000;
  font-weight:normal;
  font-style:italic;
  text-decoration:none;
}
#u45 {
  position:absolute;
  left:966px;
  top:207px;
  width:40px;
  height:27px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:27px;
}
#u45_img.mouseOver {
  width:50px;
  height:37px;
}
#u45.mouseOver {
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:728px;
  top:204px;
  width:70px;
  height:16px;
}
#u48 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u47_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u49 {
  position:absolute;
  left:728px;
  top:220px;
  width:70px;
  height:16px;
}
#u50 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u49_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51 {
  position:absolute;
  left:959px;
  top:65px;
  width:100px;
  height:100px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u52 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:111px;
  top:235px;
  width:56px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:39px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:3px;
  width:56px;
  height:5px;
}
#u54 {
  position:absolute;
  left:59px;
  top:341px;
  width:211px;
  height:290px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:290px;
}
#u55 {
  position:absolute;
  left:2px;
  top:137px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:59px;
  top:341px;
  width:211px;
  height:20px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background-image:url(../../resources/images/transparent.gif);
  background-color:transparent;
  text-align:left;
  font-family:'楷体';
  font-size:20px;
  color:#000000;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;
}
#u57 {
  position:absolute;
  left:59px;
  top:611px;
  width:50px;
  height:20px;
  font-family:'楷体 Regular', '楷体';
  font-size:14px;
  color:#0000FF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:59px;
  top:361px;
  width:211px;
  height:20px;
  font-family:'华文仿宋 Regular', '华文仿宋';
  font-size:12px;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:207px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:59px;
  top:381px;
  width:211px;
  height:20px;
  font-family:'华文仿宋 Regular', '华文仿宋';
  font-size:12px;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:207px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:59px;
  top:401px;
  width:211px;
  height:20px;
  font-family:'华文仿宋 Regular', '华文仿宋';
  font-size:12px;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
}
#u63_img.mouseOver {
}
#u63.mouseOver {
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:207px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:59px;
  top:421px;
  width:211px;
  height:20px;
  font-family:'华文仿宋 Regular', '华文仿宋';
  font-size:12px;
  text-align:left;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
}
#u65_img.mouseOver {
}
#u65.mouseOver {
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:207px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:59px;
  top:441px;
  width:211px;
  height:20px;
  font-family:'华文仿宋 Regular', '华文仿宋';
  font-size:12px;
  text-align:left;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
}
#u67_img.mouseOver {
}
#u67.mouseOver {
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:207px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:59px;
  top:461px;
  width:211px;
  height:20px;
  font-family:'华文仿宋 Regular', '华文仿宋';
  font-size:12px;
  text-align:left;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
}
#u69_img.mouseOver {
}
#u69.mouseOver {
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:207px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:59px;
  top:481px;
  width:211px;
  height:20px;
  font-family:'华文仿宋 Regular', '华文仿宋';
  font-size:12px;
  text-align:left;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
}
#u71_img.mouseOver {
}
#u71.mouseOver {
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:207px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:59px;
  top:501px;
  width:211px;
  height:20px;
  font-family:'华文仿宋 Regular', '华文仿宋';
  font-size:12px;
  text-align:left;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
}
#u73_img.mouseOver {
}
#u73.mouseOver {
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:207px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:59px;
  top:521px;
  width:211px;
  height:20px;
  font-family:'华文仿宋 Regular', '华文仿宋';
  font-size:12px;
  text-align:left;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
}
#u75_img.mouseOver {
}
#u75.mouseOver {
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:207px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:59px;
  top:541px;
  width:211px;
  height:20px;
  font-family:'华文仿宋 Regular', '华文仿宋';
  font-size:12px;
  text-align:left;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
}
#u77_img.mouseOver {
}
#u77.mouseOver {
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:207px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:59px;
  top:561px;
  width:211px;
  height:20px;
  font-family:'华文仿宋 Regular', '华文仿宋';
  font-size:12px;
  text-align:left;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
}
#u79_img.mouseOver {
}
#u79.mouseOver {
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:207px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:59px;
  top:581px;
  width:211px;
  height:20px;
  font-family:'华文仿宋 Regular', '华文仿宋';
  font-size:12px;
  text-align:left;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
}
#u81_img.mouseOver {
}
#u81.mouseOver {
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:207px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:840px;
  top:280px;
  width:219px;
  height:930px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:930px;
}
#u84 {
  position:absolute;
  left:2px;
  top:457px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:879px;
  top:276px;
  width:133px;
  height:50px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-size:28px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:50px;
}
#u86 {
  position:absolute;
  left:2px;
  top:9px;
  width:129px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:290px;
  top:341px;
  width:530px;
  height:290px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:290px;
}
#u88 {
  position:absolute;
  left:2px;
  top:129px;
  width:526px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:1003px;
  top:270px;
  width:55px;
  height:23px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
}
#u89_img.mouseOver {
}
#u89.mouseOver {
}
#u90 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:70px;
  top:692px;
  width:750px;
  height:58px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-size:40px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:58px;
}
#u92 {
  position:absolute;
  left:2px;
  top:6px;
  width:746px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:59px;
  top:690px;
  width:20px;
  height:51px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:51px;
}
#u94 {
  position:absolute;
  left:2px;
  top:18px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:59px;
  top:760px;
  width:761px;
  height:90px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:90px;
}
#u96 {
  position:absolute;
  left:2px;
  top:37px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:59px;
  top:860px;
  width:761px;
  height:90px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:90px;
}
#u98 {
  position:absolute;
  left:2px;
  top:37px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:59px;
  top:960px;
  width:761px;
  height:90px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:90px;
}
#u100 {
  position:absolute;
  left:2px;
  top:37px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:59px;
  top:1060px;
  width:761px;
  height:90px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:90px;
}
#u102 {
  position:absolute;
  left:2px;
  top:37px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:59px;
  top:1060px;
  width:108px;
  height:90px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:90px;
}
#u104 {
  position:absolute;
  left:2px;
  top:37px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:59px;
  top:960px;
  width:108px;
  height:90px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:90px;
}
#u106 {
  position:absolute;
  left:2px;
  top:37px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:59px;
  top:860px;
  width:108px;
  height:90px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:90px;
}
#u108 {
  position:absolute;
  left:2px;
  top:37px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:59px;
  top:760px;
  width:108px;
  height:90px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:90px;
}
#u110 {
  position:absolute;
  left:2px;
  top:37px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:167px;
  top:760px;
  width:653px;
  height:90px;
  font-family:'仿宋 Regular', '仿宋';
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:90px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:167px;
  top:860px;
  width:653px;
  height:90px;
  font-family:'仿宋 Regular', '仿宋';
  font-size:20px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:90px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:167px;
  top:960px;
  width:653px;
  height:90px;
  font-family:'仿宋 Regular', '仿宋';
  font-size:20px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:90px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:167px;
  top:1060px;
  width:653px;
  height:90px;
  font-family:'仿宋 Regular', '仿宋';
  font-size:20px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:90px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:59px;
  top:1316px;
  width:981px;
  height:150px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:150px;
}
#u120 {
  position:absolute;
  left:2px;
  top:67px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:59px;
  top:1486px;
  width:981px;
  height:150px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:150px;
}
#u122 {
  position:absolute;
  left:2px;
  top:67px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:242px;
  top:1486px;
  width:798px;
  height:150px;
  font-size:28px;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:150px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:242px;
  top:1316px;
  width:798px;
  height:150px;
  font-size:28px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:150px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:59px;
  top:1656px;
  width:981px;
  height:150px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:150px;
}
#u128 {
  position:absolute;
  left:2px;
  top:67px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:59px;
  top:1826px;
  width:981px;
  height:150px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:150px;
}
#u130 {
  position:absolute;
  left:2px;
  top:67px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:59px;
  top:1996px;
  width:981px;
  height:150px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:150px;
}
#u132 {
  position:absolute;
  left:2px;
  top:67px;
  width:977px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:59px;
  top:2160px;
  width:981px;
  height:31px;
  font-family:'仿宋 Regular', '仿宋';
  font-size:28px;
  color:#0000FF;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:31px;
}
#u133_img.mouseOver {
}
#u133.mouseOver {
}
#u134 {
  position:absolute;
  left:2px;
  top:0px;
  width:977px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:870px;
  top:326px;
  width:150px;
  height:194px;
  opacity:0.6;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:206px;
}
#u136 {
  position:absolute;
  left:2px;
  top:89px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:893px;
  top:339px;
  width:90px;
  height:90px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u138 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:921px;
  top:439px;
  width:33px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0066FF;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:888px;
  top:462px;
  width:99px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:1px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:896px;
  top:488px;
  width:84px;
  height:21px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u144 {
  position:absolute;
  left:870px;
  top:530px;
  width:150px;
  height:194px;
  opacity:0.6;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:206px;
}
#u145 {
  position:absolute;
  left:2px;
  top:89px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:893px;
  top:654px;
  width:99px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:1px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:899px;
  top:680px;
  width:84px;
  height:21px;
}
#u148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u149 {
  position:absolute;
  left:898px;
  top:534px;
  width:80px;
  height:90px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:90px;
}
#u150 {
  position:absolute;
  left:2px;
  top:37px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:918px;
  top:630px;
  width:33px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0066FF;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:872px;
  top:742px;
  width:150px;
  height:194px;
  opacity:0.6;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:206px;
}
#u154 {
  position:absolute;
  left:2px;
  top:89px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:892px;
  top:871px;
  width:99px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:1px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:900px;
  top:897px;
  width:84px;
  height:21px;
}
#u157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u158 {
  position:absolute;
  left:875px;
  top:956px;
  width:150px;
  height:194px;
  opacity:0.6;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:206px;
}
#u159 {
  position:absolute;
  left:2px;
  top:89px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:901px;
  top:1090px;
  width:99px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:1px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:909px;
  top:1116px;
  width:84px;
  height:21px;
}
#u162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u163 {
  position:absolute;
  left:890px;
  top:750px;
  width:90px;
  height:90px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u164 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:923px;
  top:848px;
  width:33px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0066FF;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:903px;
  top:962px;
  width:90px;
  height:90px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u168 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:937px;
  top:1062px;
  width:33px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#0066FF;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:891px;
  top:1168px;
  width:100px;
  height:33px;
  font-size:18px;
  color:#0000FF;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u171_img.mouseOver {
}
#u171.mouseOver {
}
#u172 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:59px;
  top:699px;
  width:20px;
  height:51px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:51px;
}
#u174 {
  position:absolute;
  left:2px;
  top:18px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:59px;
  top:1168px;
  width:761px;
  height:33px;
  font-family:'仿宋 Regular', '仿宋';
  font-size:28px;
  color:#0000FF;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:33px;
}
#u175_img.mouseOver {
}
#u175.mouseOver {
}
#u176 {
  position:absolute;
  left:2px;
  top:0px;
  width:757px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:79px;
  top:323px;
  width:741px;
  height:10px;
}
#u177_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u177_end {
  position:absolute;
  left:724px;
  top:-5px;
  width:18px;
  height:20px;
}
#u177_line {
  position:absolute;
  left:0px;
  top:3px;
  width:741px;
  height:5px;
}
#u178 {
  position:absolute;
  left:79px;
  top:742px;
  width:741px;
  height:10px;
}
#u178_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u178_end {
  position:absolute;
  left:724px;
  top:-5px;
  width:18px;
  height:20px;
}
#u178_line {
  position:absolute;
  left:0px;
  top:3px;
  width:741px;
  height:5px;
}
#u179 {
  position:absolute;
  left:79px;
  top:1248px;
  width:961px;
  height:50px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-size:40px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:50px;
}
#u180 {
  position:absolute;
  left:2px;
  top:2px;
  width:957px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:59px;
  top:1248px;
  width:20px;
  height:51px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:51px;
}
#u182 {
  position:absolute;
  left:2px;
  top:18px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:79px;
  top:1291px;
  width:961px;
  height:10px;
}
#u183_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u183_end {
  position:absolute;
  left:944px;
  top:-5px;
  width:18px;
  height:20px;
}
#u183_line {
  position:absolute;
  left:0px;
  top:3px;
  width:961px;
  height:5px;
}
#u184 {
  position:absolute;
  left:59px;
  top:1316px;
  width:183px;
  height:150px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:150px;
}
#u185 {
  position:absolute;
  left:2px;
  top:67px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:59px;
  top:1490px;
  width:183px;
  height:146px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:146px;
}
#u187 {
  position:absolute;
  left:2px;
  top:65px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:270px;
  top:1356px;
  width:770px;
  height:94px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:94px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:270px;
  top:1530px;
  width:770px;
  height:106px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:106px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:242px;
  top:1656px;
  width:798px;
  height:150px;
  font-size:28px;
  text-align:center;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:150px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:270px;
  top:1696px;
  width:770px;
  height:94px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:94px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:59px;
  top:1660px;
  width:183px;
  height:146px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:146px;
}
#u197 {
  position:absolute;
  left:2px;
  top:65px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:242px;
  top:1826px;
  width:798px;
  height:150px;
  font-size:28px;
  text-align:center;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:150px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:270px;
  top:1866px;
  width:770px;
  height:94px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:94px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:242px;
  top:1996px;
  width:798px;
  height:150px;
  font-size:28px;
  text-align:center;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:150px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:270px;
  top:2036px;
  width:770px;
  height:94px;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:94px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:59px;
  top:1826px;
  width:183px;
  height:144px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:144px;
}
#u207 {
  position:absolute;
  left:2px;
  top:64px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:59px;
  top:2000px;
  width:183px;
  height:146px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:146px;
}
#u209 {
  position:absolute;
  left:2px;
  top:65px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:329px;
  top:2430px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u213 {
  position:absolute;
  left:299px;
  top:2426px;
  width:30px;
  height:26px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u214 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:247px;
  top:2270px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u217 {
  position:absolute;
  left:251px;
  top:2310px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u217_img.mouseOver {
  width:75px;
  height:29px;
}
#u217.mouseOver {
}
#u217_img.mouseDown {
  width:75px;
  height:29px;
}
#u217.mouseDown {
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u219 {
  position:absolute;
  left:251px;
  top:2338px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u221 {
  position:absolute;
  left:251px;
  top:2368px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u223 {
  position:absolute;
  left:387px;
  top:2270px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u225 {
  position:absolute;
  left:387px;
  top:2310px;
  width:53px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u227 {
  position:absolute;
  left:387px;
  top:2338px;
  width:98px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u229 {
  position:absolute;
  left:387px;
  top:2368px;
  width:104px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:19px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u231 {
  position:absolute;
  left:569px;
  top:2270px;
  width:86px;
  height:22px;
  font-size:18px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u233 {
  position:absolute;
  left:569px;
  top:2310px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u235 {
  position:absolute;
  left:569px;
  top:2338px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u237 {
  position:absolute;
  left:569px;
  top:2368px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u239 {
  position:absolute;
  left:751px;
  top:2270px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u241 {
  position:absolute;
  left:751px;
  top:2310px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u243 {
  position:absolute;
  left:751px;
  top:2338px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u245 {
  position:absolute;
  left:409px;
  top:2430px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u247 {
  position:absolute;
  left:495px;
  top:2430px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u249 {
  position:absolute;
  left:579px;
  top:2430px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u251 {
  position:absolute;
  left:671px;
  top:2430px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u253 {
  position:absolute;
  left:137px;
  top:2474px;
  width:248px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:423px;
  top:2474px;
  width:145px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:607px;
  top:2474px;
  width:240px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:877px;
  top:2474px;
  width:100px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:59px;
  top:2246px;
  width:998px;
  height:10px;
  opacity:0.8;
}
#u261_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u261_end {
  position:absolute;
  left:981px;
  top:-5px;
  width:18px;
  height:20px;
}
#u261_line {
  position:absolute;
  left:0px;
  top:3px;
  width:998px;
  height:4px;
}
#u262 {
  position:absolute;
  left:137px;
  top:2407px;
  width:840px;
  height:10px;
  opacity:0.6;
}
#u262_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u262_end {
  position:absolute;
  left:823px;
  top:-5px;
  width:18px;
  height:20px;
}
#u262_line {
  position:absolute;
  left:0px;
  top:4px;
  width:840px;
  height:3px;
}
#u263 {
  position:absolute;
  left:356px;
  top:2270px;
  width:10px;
  height:117px;
  opacity:0.6;
}
#u263_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u263_end {
  position:absolute;
  left:-5px;
  top:100px;
  width:20px;
  height:18px;
}
#u263_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:117px;
}
#u264 {
  position:absolute;
  left:522px;
  top:2270px;
  width:10px;
  height:117px;
  opacity:0.6;
}
#u264_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u264_end {
  position:absolute;
  left:-5px;
  top:100px;
  width:20px;
  height:18px;
}
#u264_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:117px;
}
#u265 {
  position:absolute;
  left:696px;
  top:2270px;
  width:10px;
  height:117px;
  opacity:0.6;
}
#u265_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u265_end {
  position:absolute;
  left:-5px;
  top:100px;
  width:20px;
  height:18px;
}
#u265_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:117px;
}
