body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-60px;
  width:1001px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:0px;
  width:1001px;
  height:1050px;
  opacity:0.5;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:1050px;
}
#u1 {
  position:absolute;
  left:2px;
  top:517px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:61px;
  top:26px;
  width:1000px;
  height:150px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:150px;
}
#u3 {
  position:absolute;
  left:2px;
  top:67px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:961px;
  top:41px;
  width:100px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:61px;
  top:0px;
  width:100px;
  height:26px;
  font-family:'楷体 Regular', '楷体';
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:137px;
  top:0px;
  width:110px;
  height:26px;
  font-family:'仿宋 Regular', '仿宋';
  font-size:16px;
  color:#0000FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1001px;
  top:0px;
  width:60px;
  height:26px;
  font-size:16px;
  color:#0000FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:61px;
  top:200px;
  width:1000px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:101px;
  top:210px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:231px;
  top:210px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:361px;
  top:210px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:501px;
  top:210px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#0033FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:641px;
  top:210px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:781px;
  top:210px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:90px;
  top:260px;
  width:940px;
  height:470px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:480px;
}
#u27 {
  position:absolute;
  left:2px;
  top:227px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:205px;
  top:0px;
  width:80px;
  height:18px;
  font-family:'仿宋 Regular', '仿宋';
  font-size:16px;
  color:#0000FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:100px;
  top:270px;
  width:926px;
  height:456px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:52px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:150px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:154px;
  top:0px;
  width:149px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:52px;
}
#u34 {
  position:absolute;
  left:2px;
  top:14px;
  width:145px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:303px;
  top:0px;
  width:147px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:143px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:450px;
  top:0px;
  width:175px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:52px;
}
#u38 {
  position:absolute;
  left:2px;
  top:14px;
  width:171px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:625px;
  top:0px;
  width:149px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:52px;
}
#u40 {
  position:absolute;
  left:2px;
  top:14px;
  width:145px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:774px;
  top:0px;
  width:147px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:52px;
}
#u42 {
  position:absolute;
  left:2px;
  top:14px;
  width:143px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:52px;
  width:154px;
  height:39px;
  font-size:18px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:39px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:154px;
  top:52px;
  width:149px;
  height:39px;
  font-size:18px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:39px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:303px;
  top:52px;
  width:147px;
  height:39px;
  font-size:18px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:39px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:450px;
  top:52px;
  width:175px;
  height:39px;
  font-size:18px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:625px;
  top:52px;
  width:149px;
  height:39px;
  font-size:18px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:39px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:774px;
  top:52px;
  width:147px;
  height:39px;
  font-size:18px;
  text-decoration:underline;
  color:#00FFFF;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:39px;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:91px;
  width:154px;
  height:30px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:154px;
  top:91px;
  width:149px;
  height:30px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:303px;
  top:91px;
  width:147px;
  height:30px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:450px;
  top:91px;
  width:175px;
  height:30px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:625px;
  top:91px;
  width:149px;
  height:30px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:774px;
  top:91px;
  width:147px;
  height:30px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:121px;
  width:154px;
  height:30px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:154px;
  top:121px;
  width:149px;
  height:30px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:303px;
  top:121px;
  width:147px;
  height:30px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:450px;
  top:121px;
  width:175px;
  height:30px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:625px;
  top:121px;
  width:149px;
  height:30px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:774px;
  top:121px;
  width:147px;
  height:30px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:151px;
  width:154px;
  height:30px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:154px;
  top:151px;
  width:149px;
  height:30px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:303px;
  top:151px;
  width:147px;
  height:30px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:450px;
  top:151px;
  width:175px;
  height:30px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:625px;
  top:151px;
  width:149px;
  height:30px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:774px;
  top:151px;
  width:147px;
  height:30px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:181px;
  width:154px;
  height:30px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:154px;
  top:181px;
  width:149px;
  height:30px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:303px;
  top:181px;
  width:147px;
  height:30px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:450px;
  top:181px;
  width:175px;
  height:30px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:625px;
  top:181px;
  width:149px;
  height:30px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:774px;
  top:181px;
  width:147px;
  height:30px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:0px;
  top:211px;
  width:154px;
  height:30px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:154px;
  top:211px;
  width:149px;
  height:30px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:303px;
  top:211px;
  width:147px;
  height:30px;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:450px;
  top:211px;
  width:175px;
  height:30px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:625px;
  top:211px;
  width:149px;
  height:30px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:774px;
  top:211px;
  width:147px;
  height:30px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:0px;
  top:241px;
  width:154px;
  height:30px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:154px;
  top:241px;
  width:149px;
  height:30px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u118 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:303px;
  top:241px;
  width:147px;
  height:30px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:450px;
  top:241px;
  width:175px;
  height:30px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:625px;
  top:241px;
  width:149px;
  height:30px;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:774px;
  top:241px;
  width:147px;
  height:30px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:0px;
  top:271px;
  width:154px;
  height:30px;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:154px;
  top:271px;
  width:149px;
  height:30px;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u130 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:303px;
  top:271px;
  width:147px;
  height:30px;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:450px;
  top:271px;
  width:175px;
  height:30px;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:625px;
  top:271px;
  width:149px;
  height:30px;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u136 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:774px;
  top:271px;
  width:147px;
  height:30px;
  text-align:center;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:0px;
  top:301px;
  width:154px;
  height:30px;
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u140 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:154px;
  top:301px;
  width:149px;
  height:30px;
  text-align:center;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u142 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:303px;
  top:301px;
  width:147px;
  height:30px;
  text-align:center;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u144 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:450px;
  top:301px;
  width:175px;
  height:30px;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u146 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:625px;
  top:301px;
  width:149px;
  height:30px;
  text-align:center;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u148 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:774px;
  top:301px;
  width:147px;
  height:30px;
  text-align:center;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u150 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:0px;
  top:331px;
  width:154px;
  height:30px;
  text-align:center;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u152 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:154px;
  top:331px;
  width:149px;
  height:30px;
  text-align:center;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u154 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:303px;
  top:331px;
  width:147px;
  height:30px;
  text-align:center;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u156 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:450px;
  top:331px;
  width:175px;
  height:30px;
  text-align:center;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u158 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:625px;
  top:331px;
  width:149px;
  height:30px;
  text-align:center;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u160 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:774px;
  top:331px;
  width:147px;
  height:30px;
  text-align:center;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u162 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:0px;
  top:361px;
  width:154px;
  height:30px;
  text-align:center;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u164 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:154px;
  top:361px;
  width:149px;
  height:30px;
  text-align:center;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u166 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:303px;
  top:361px;
  width:147px;
  height:30px;
  text-align:center;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u168 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:450px;
  top:361px;
  width:175px;
  height:30px;
  text-align:center;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u170 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:625px;
  top:361px;
  width:149px;
  height:30px;
  text-align:center;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u172 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:774px;
  top:361px;
  width:147px;
  height:30px;
  text-align:center;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u174 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:0px;
  top:391px;
  width:154px;
  height:30px;
  text-align:center;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u176 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:154px;
  top:391px;
  width:149px;
  height:30px;
  text-align:center;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u178 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:303px;
  top:391px;
  width:147px;
  height:30px;
  text-align:center;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u180 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:450px;
  top:391px;
  width:175px;
  height:30px;
  text-align:center;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u182 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:625px;
  top:391px;
  width:149px;
  height:30px;
  text-align:center;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u184 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:774px;
  top:391px;
  width:147px;
  height:30px;
  text-align:center;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u186 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:0px;
  top:421px;
  width:154px;
  height:30px;
  text-align:center;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u188 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:154px;
  top:421px;
  width:149px;
  height:30px;
  text-align:center;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u190 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:303px;
  top:421px;
  width:147px;
  height:30px;
  text-align:center;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u192 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:450px;
  top:421px;
  width:175px;
  height:30px;
  text-align:center;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u194 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:625px;
  top:421px;
  width:149px;
  height:30px;
  text-align:center;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u196 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:774px;
  top:421px;
  width:147px;
  height:30px;
  text-align:center;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u198 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:330px;
  top:980px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:300px;
  top:976px;
  width:30px;
  height:26px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u203 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:248px;
  top:820px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u206 {
  position:absolute;
  left:252px;
  top:860px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u206_img.mouseOver {
  width:75px;
  height:29px;
}
#u206.mouseOver {
}
#u206_img.mouseDown {
  width:75px;
  height:29px;
}
#u206.mouseDown {
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u208 {
  position:absolute;
  left:252px;
  top:888px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u210 {
  position:absolute;
  left:252px;
  top:918px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u212 {
  position:absolute;
  left:388px;
  top:820px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u214 {
  position:absolute;
  left:388px;
  top:860px;
  width:53px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u216 {
  position:absolute;
  left:388px;
  top:888px;
  width:98px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u218 {
  position:absolute;
  left:388px;
  top:918px;
  width:104px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:19px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u220 {
  position:absolute;
  left:570px;
  top:820px;
  width:86px;
  height:22px;
  font-size:18px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:570px;
  top:860px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u224 {
  position:absolute;
  left:570px;
  top:888px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u226 {
  position:absolute;
  left:570px;
  top:918px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u228 {
  position:absolute;
  left:752px;
  top:820px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u230 {
  position:absolute;
  left:752px;
  top:860px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u232 {
  position:absolute;
  left:752px;
  top:888px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u234 {
  position:absolute;
  left:410px;
  top:980px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u236 {
  position:absolute;
  left:496px;
  top:980px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u238 {
  position:absolute;
  left:580px;
  top:980px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u240 {
  position:absolute;
  left:672px;
  top:980px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u242 {
  position:absolute;
  left:138px;
  top:1024px;
  width:248px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:424px;
  top:1024px;
  width:145px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:608px;
  top:1024px;
  width:240px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:878px;
  top:1024px;
  width:100px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:13px;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:60px;
  top:796px;
  width:998px;
  height:10px;
  opacity:0.8;
}
#u250_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u250_end {
  position:absolute;
  left:981px;
  top:-5px;
  width:18px;
  height:20px;
}
#u250_line {
  position:absolute;
  left:0px;
  top:3px;
  width:998px;
  height:4px;
}
#u251 {
  position:absolute;
  left:138px;
  top:957px;
  width:840px;
  height:10px;
  opacity:0.6;
}
#u251_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u251_end {
  position:absolute;
  left:823px;
  top:-5px;
  width:18px;
  height:20px;
}
#u251_line {
  position:absolute;
  left:0px;
  top:4px;
  width:840px;
  height:3px;
}
#u252 {
  position:absolute;
  left:357px;
  top:820px;
  width:10px;
  height:117px;
  opacity:0.6;
}
#u252_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u252_end {
  position:absolute;
  left:-5px;
  top:100px;
  width:20px;
  height:18px;
}
#u252_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:117px;
}
#u253 {
  position:absolute;
  left:523px;
  top:820px;
  width:10px;
  height:117px;
  opacity:0.6;
}
#u253_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u253_end {
  position:absolute;
  left:-5px;
  top:100px;
  width:20px;
  height:18px;
}
#u253_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:117px;
}
#u254 {
  position:absolute;
  left:697px;
  top:820px;
  width:10px;
  height:117px;
  opacity:0.6;
}
#u254_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u254_end {
  position:absolute;
  left:-5px;
  top:100px;
  width:20px;
  height:18px;
}
#u254_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:117px;
}
